/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
}

/* Base Styling */
body {
    font-family: var( --font-family );
    height: 100%;

    /* Used so that the corner will go to the bottom, otherwise it will think that it should relate to the viewport... */
    position: relative;
}

.center-piece {
    max-width: var( --max-width );
    min-height: 40vh;
    margin: 0 auto 150px auto;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    cursor: pointer;
    display: block;
    padding: 15px 30px;
    border: 1px solid black;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.btn:hover {
    background-color: black;
    color: white;
}

/* Canvas Elements */

#canvas_one,
#canvas_two {
    border: var( --border-width ) solid black;
}

header {
    position: relative;
}
#canvas_zero,
.canvas_zero--corner {
    position: absolute;
    z-index: -1;
}

.canvas_zero--corner.corner-one {
    top: 0;
    left: 0;
}

.canvas_zero--corner.corner-two {
    top: unset;
    right: 0;
    bottom: 0;
    margin: 0;
}